In [1]:
def is_prime(num):
    for i in range(2,num):
        if num % i != 0:
            return "number is prime"
        else:
            return "number is not prime"

In [2]:
is_prime(7)

'number is prime'

In [3]:
is_prime(10)

'number is not prime'

In [4]:
def is_prime(num):
    for i in range(2,num):
        if num % i ==0:
            return "This no is not a prime number"
            break
        else:
            return "This no is a prime number"

In [5]:
is_prime(78)

'This no is not a prime number'

In [6]:
is_prime(7)

'This no is a prime number'

## IterATOR and GeneRATOR and IterABLE 

#### IterABLE -- contains multiple elements for accessing, like string contains characters, list elements but integer is a single entity so not iterable

#### IterATOR -- means a object inwhich we can get next element by accessing it

#### GeneRATOR -- object that generates a new dataset, for example range()

In [8]:
for i in "sudh":
    print(i)

s
u
d
h

In [9]:
type("sudh")

str

In [10]:
next("sudh")

TypeError: 'str' object is not an iterator

### String is not a iterator object but we can change it in an iterator by using iter function

In [13]:
a=iter("sudh")
type(a)

str_iterator

In [19]:
next(a)

StopIteration:

In [20]:
l = [1,2,3,4,5,5,6,6,7]

next(l)

TypeError: 'list' object is not an iterator

In [23]:
b = iter(l)
type(b)

list_iterator

In [30]:
next(b)

6

In [31]:
next(12)

TypeError: 'int' object is not an iterator

In [32]:
c = iter(12)
type(c)

TypeError: 'int' object is not iterable

In [33]:
range(10)

range(0, 10)

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
next(range(10))

TypeError: 'range' object is not an iterator

In [36]:
a = iter(range(10))
type(a)

range_iterator

In [41]:
next(a)

4

### create a range kind of function which returns an object instead of dataset directly

In [42]:
def test(n):
    for i in range(n):
        print(i)

In [43]:
test(10)

0
1
2
3
4
5
6
7
8
9

This function directly giving me dataset but i want this to generate an object rather than dataset

In [52]:
def gencube(n):
    for i in range(n):
        return i**3

In [53]:
type(gencube(10))

int

In [54]:
def gencube(n):
    for i in range(n):
        print(i**3)

In [55]:
gencube(10)

0
1
8
27
64
125
216
343
512
729

In [1]:
def gencube(n):
    for i in range(n):
        yield i**3

In [2]:
gencube(10)

In [3]:
for i in gencube(10):
    print(i)

0
1
8
27
64
125
216
343
512
729

In [6]:
next(gencube(10)) #

0

In [9]:
v = iter(gencube(10))

In [14]:
next(v)

64

## Fibonacci Series- 1,1,2,3,5,8,13,21,34,55

0,1,2,3,4,5,6,7,8,9 = 0,0,1,3,5

### Question 1: Create a generator object, which will not generate dataset directly but it should
### behave like an object for example range() function

In [15]:
def genFi(n):
    a=1
    b=1
    for i in range(n):
        print(a)  # want dataset directly
        a,b = b,a+b

In [16]:
genFi(10) #

1
1
2
3
5
8
13
21
34
55

In [17]:
def genFi(n):
    a=1
    b=1
    for i in range(n):
        yield a    # It will not generate data directly but will create, generator object
                   # yield memorizes what it has done last 
        a,b = b,a+b

In [18]:
genFi(10)

In [19]:
for i in genFi(10):
    print(i)

1
1
2
3
5
8
13
21
34
55

In [20]:
def genFi(n):
    for i in range(n):
        a=1
        b=1
        print(a)
        a,b = b,a+b

In [21]:
genFi(10)

1
1
1
1
1
1
1
1
1
1

## MAP-- 

take one function, dataset--rowwise mapping by indexes--one to one mapping

## REDUCE

1-) Aggregation function sum of two whatever we get sum into next element kind of things
2-) It takes only two positional arguments (Always)


## FILTER Function--

It also takes one function and one dataset then based on condition it gives True/False and give the dataset for which condition is True

### Question 2: We have a list [1,2,3,4,5,6,7,8,9] we want to generate a function which will give 
### us a list with the square of elements [1,4,9,16,25,36,49,64,81]

In [22]:
### Approach 1:

def square(n):
    return n**2

In [23]:
square(6)

36

In [24]:
l = [1,2,3,4,5,6,7,8,9]

n = []

for i in l:
    n.append(square(i))

In [25]:
n

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
### Approach 2:

[i**2 for i in l]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [30]:
### Approach 3: Using Map function

def square(n):
    return n**2

In [32]:
list(map(square,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
for i in map(square,l):
    print(i)

1
4
9
16
25
36
49
64
81

## Lambda function -- Anonymmous function means function with out name

In [35]:
list(map(lambda x:x**2, l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
c = lambda x:x**2

In [37]:
list(map(c,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [38]:
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=[2,3,4,5,5,7,8,9,1]

### Question 3: Here we have 3 lists, we want to create a new list with the sum of the index 
### wise elements of 3 lists

In [39]:
# Approach 1: Create a external function for adding 3 entities and then we can take this in map function

def summation(x,y,z):
    return x+y+z

In [40]:
list(map(summation,a,b,c))

[9, 12, 15, 18, 20]

In [41]:
# Approach 2: Suppose we want end result without taking external function

list(map(lambda x,y,z:x+y+z,a,b,c))

[9, 12, 15, 18, 20]

In [ ]:
### REDUCE--

In [43]:
l = [1,2,3,4,5,6]

sum(l)

21

In [2]:
from functools import reduce

In [45]:
def summation(a,b):
    return a+b

In [46]:
l = [4,5,6,7,8,9]

reduce(summation,l)

39

In [47]:
l = [1,2,3,4,5,6]

reduce(lambda x,y:x+y,l)

21

In [49]:
list(map(lambda x,:x**2,l))

[1, 4, 9, 16, 25, 36]

In [3]:
l = [2,3,4,5,6,7]

reduce(lambda x,y,z:x+y+z,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [5]:
l = [2,3,4,5,6,7,8]

reduce(lambda x,y:x+y,l)

35

In [7]:
l = [2,3,4,5,6,7,8,9]

reduce(lambda x,y:x**2+y**2,l)

3585661762209874419959583726903982869987246161688487820032323950038010002

In [9]:
l = [2,3,4,5,6,6,7,8,8,8,9,9,9,6,4]

m = []

### Question:3 We have a list and we want to extract even no dataset.

In [10]:
for i in l:
    if i%2==0:
        m.append(i)
        
m

[2, 4, 6, 6, 8, 8, 8, 6, 4]

In [11]:
list(filter(lambda x:x%2==0,l))

[2, 4, 6, 6, 8, 8, 8, 6, 4]

In [12]:
def evenCheck(n):
    if n%2==0:
        return n

In [13]:
list(filter(evenCheck,l))

[2, 4, 6, 6, 8, 8, 8, 6, 4]

In [9]:
def DictStrVal(d):
    """This function will take dictionary and 
    return the values in a list if they are strings"""
    l = []
    for i in d.values():
        print(i)
        if type(i) == str:
            l.append(i)
            return l

In [10]:
DictStrVal({"a":"efydgasd","b":12345675,"c":"asdagsy","d":[1,3,4]})

efydgasd

['efydgasd']