In [1]:
d = {"key1":"Aparna","key2":"Singh","Key3":[1,2,3,3],"key4":(1,2,3,4),"key5":{1,2,45,5,6,6}}

In [2]:
d

{'key1': 'Aparna',
 'key2': 'Singh',
 'Key3': [1, 2, 3, 3],
 'key4': (1, 2, 3, 4),
 'key5': {1, 2, 5, 6, 45}}

In [3]:
d.pop("key1")

'Aparna'

In [4]:
d

{'key2': 'Singh',
 'Key3': [1, 2, 3, 3],
 'key4': (1, 2, 3, 4),
 'key5': {1, 2, 5, 6, 45}}

In [5]:
d.values()

dict_values(['Singh', [1, 2, 3, 3], (1, 2, 3, 4), {1, 2, 5, 6, 45}])

In [6]:
d.setdefault("key1")

In [7]:
d.setdefault("key2")

'Singh'

In [8]:
d

{'key2': 'Singh',
 'Key3': [1, 2, 3, 3],
 'key4': (1, 2, 3, 4),
 'key5': {1, 2, 5, 6, 45},
 'key1': None}

In [9]:
d.popitem()

('key1', None)

In [10]:
d

{'key2': 'Singh',
 'Key3': [1, 2, 3, 3],
 'key4': (1, 2, 3, 4),
 'key5': {1, 2, 5, 6, 45}}

In [11]:
d.items()

dict_items([('key2', 'Singh'), ('Key3', [1, 2, 3, 3]), ('key4', (1, 2, 3, 4)), ('key5', {1, 2, 5, 6, 45})])

In [12]:
for i in d.keys():
    print(d[i])

Singh
[1, 2, 3, 3]
(1, 2, 3, 4)
{1, 2, 5, 6, 45}

In [13]:
for i in d:
    print(d[i])

Singh
[1, 2, 3, 3]
(1, 2, 3, 4)
{1, 2, 5, 6, 45}

In [14]:
t = (1,2,3,"aparana",4.5,True)

In [15]:
t

(1, 2, 3, 'aparana', 4.5, True)

In [16]:
type(t)

tuple

In [17]:
t.count(2)

1

In [18]:
d = {"key1":"Aparna","key2":"Singh","Key3":[1,2,3,3],"key4":(1,2,3,4),"key5":{1,2,45,5,6,6}}

In [19]:
d

{'key1': 'Aparna',
 'key2': 'Singh',
 'Key3': [1, 2, 3, 3],
 'key4': (1, 2, 3, 4),
 'key5': {1, 2, 5, 6, 45}}

### Question 1: In a dictionary if an element is tuple append the element of tuple in list.

In [20]:
m = []

for i in d:
    if type(i)==tuple:
        for j in i:
            m.append(j)
            
m

[]

In [21]:
m = []

for i in d.values():
    if type(i)==tuple:
        for j in i:
            m.append(j)
            
m

[1, 2, 3, 4]

In [22]:
d.items()

dict_items([('key1', 'Aparna'), ('key2', 'Singh'), ('Key3', [1, 2, 3, 3]), ('key4', (1, 2, 3, 4)), ('key5', {1, 2, 5, 6, 45})])

In [23]:
d["key6"]="Ankur"

In [24]:
d

{'key1': 'Aparna',
 'key2': 'Singh',
 'Key3': [1, 2, 3, 3],
 'key4': (1, 2, 3, 4),
 'key5': {1, 2, 5, 6, 45},
 'key6': 'Ankur'}

### Question 2: Create a dictionary keys are integers and values are square of integers till 10.
 
##### Expected {1:1,2:4,3:9,4:16,......,10:100}

In [25]:
d = {}

for i in range(1,11):
    d[i]=i**2

In [26]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Question 3: If we have a list with strings want to create a dictionary in which keys are small level
### and values are upper case

In [27]:
l = ["aparna","ankur","singh"]
m = {}

for i in l:
    m[i]=i.upper()

In [28]:
m

{'aparna': 'APARNA', 'ankur': 'ANKUR', 'singh': 'SINGH'}

## Dictionary comprehension ----Expected {1:1,2:4,3:9,4:16,......,10:100}

In [29]:
{i:i**2 for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [30]:
l = ["akanksha","vikas","singh"]

{i:i.upper() for i in l}

{'akanksha': 'AKANKSHA', 'vikas': 'VIKAS', 'singh': 'SINGH'}

## FUNCTION-- we use and define functions for reusability of the code

In [ ]:
def emotion():
    pass

In [ ]:
emotion()

In [ ]:
def test():
    a=1
    b=19
    
    print(a+b)

In [ ]:
test()

In [ ]:
type(test())

In [ ]:
test() + 10

In [ ]:
type(test())

In [ ]:
type(10)

### Print function always return "None type"

In [ ]:
def test():
    a=1
    b=10
    return(a+b)

In [ ]:
test()

In [ ]:
type(test())

In [ ]:
test() + 12

In [ ]:
a=test()

In [ ]:
a

In [ ]:
def joinStr():
    a = "aparna"
    b = "singh"
    return(a + ' ' + b)

In [ ]:
joinStr()

In [ ]:
type(joinStr())

In [ ]:
c = joinStr() + ' ' + "Ankur"
c

In [ ]:
c.upper()

In [ ]:
c

### Create a function with arguments

In [ ]:
def sum(a,b):
    return(a+b)

In [ ]:
sum(1,3)

In [ ]:
sum("aparna","singh")

In [ ]:
sum(19,1)

In [ ]:
sum([1,2,3,45,5],[23,4,4,5,6])

In [ ]:
sum((1,2,2,3,4,5),(13,4,5,45,5,6))

In [ ]:
sum({1,2,3,4,4,55,6},{1,2,3,3,4,4,45,5})

In [ ]:
a = {1,2,3,3,4,5}

In [ ]:
def sum(a,b):
    return a+b, a*b

In [ ]:
sum(4,7)

In [ ]:
x,y = sum(4,7)

In [ ]:
x

In [ ]:
y

In [ ]:
sum([1,2,3,4],[2,3,4,5])

In [ ]:
def test(a,b=9):
    return a+b

In [ ]:
test(2)

In [ ]:
test(5,10)

In [ ]:
def test():
    return "aparan",[1,2,3,3,4],{"key1":"singh"}

In [ ]:
test()

In [ ]:
type(test())

In [ ]:
_,_,u = test()

In [ ]:
u

In [ ]:
_

In [ ]:
_

In [ ]:
d = {"key1":1,1:1133}

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
l = [1,2,3,4,4,5,4,4]

m = [i for i in l if i!=4]

In [ ]:
m

In [65]:
l = [1,2,3,4,5,5,5,5,5,[1,2,3,5,5,6,5,5,6]]

m = []
n = []


for i in l:
    if i!=5:
        m.append(i)
        
    if type(i)==list:
        for k in i:
            if k !=5:
                n.append(k)
                
m.pop()
m.insert(4,n)
m

[1, 2, 3, 4, [1, 2, 3, 6, 6]]